<html>
<head>
<title>activity_statusveiculo.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_statusveiculo.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.appcompat.widget.LinearLayoutCompat</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@drawable/ffundo&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.StatusVeiculo&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;androidx.appcompat.widget.AppCompatButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/homeBtn&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;end&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/home&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.appcompat.widget.AppCompatButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/backBtn&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/voltar&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;start&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;-30dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.appcompat.widget.AppCompatTextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Consultar Placa&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;-30dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;26sp&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.appcompat.widget.AppCompatEditText</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/etPlaca&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:textColorHint</span><span class="s2">=&quot;@color/black&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;start&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Placa do Veículo&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;11sp&quot;</span><span class="s0">/&gt;</span>


    <span class="s0">&lt;androidx.appcompat.widget.AppCompatButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/consultarBtn&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/black&quot;</span>
        <span class="s1">android:textColorHint</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;end&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;-30dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Consultar&quot;</span><span class="s0">/&gt;</span>


    <span class="s0">&lt;androidx.appcompat.widget.AppCompatTextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/statusTV&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;status do ticket e prazo.&quot;</span>
        <span class="s1">android:textColorHint</span><span class="s2">=&quot;@color/black&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;40sp&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;300dp&quot;</span>
        <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;50dp&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.appcompat.widget.AppCompatButton</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/registraBtn&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/black&quot;</span>
        <span class="s1">android:textColorHint</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;200dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:layout_margin</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Registar Irregularidade&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.appcompat.widget.AppCompatImageView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;150dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/logotipo&quot;</span><span class="s0">/&gt;</span>


<span class="s0">&lt;/androidx.appcompat.widget.LinearLayoutCompat&gt;</span></pre>
</body>
</html>